/* Notes
    If you want to make your element center, you have to
    add display flex on the parents
*/

@import url('https://fonts.googleapis.com/css?family=Mina');
@import url('https://fonts.googleapis.com/css?family=Mina|Nunito:400,800');

body {
    margin: 0;
    padding: 0;
    font-family: 'Mina', sans-serif;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 10px 80px;
    top: 0;
    box-sizing: border-box;
}

header.back {
    background: #000;
    height: 80px;
    padding: 10px 80px;
    opacity: 0.5;
    transition: .5s;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

header ul a {
    text-transform: uppercase;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: 700;
    color: #181818;
    transition: .3s;
}

header.back ul a {
    color: #fff;
}

section.img1 {
    width: 100%;
    height: 100vh;
    background: url('/img/img1.jpeg');
    background-size: cover;
    background-position: center;

    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centering {
    font-size: 70px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.mouse {
    margin-top: 50px;
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {opacity: 0;}
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

.content {
    margin-top: 30px;
}

.content h1 {
    text-align: center;
}

.content p {
    margin: 30px auto;
    text-align: justify;
    width: 70%;
    line-height: 40px;
}

#subscribe {
    background: #3e3e3e;
    color: #fff;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.updates {
    text-align: justify;
    line-height: 1.5em;
    width: 40%;
    margin-right: 50px;
}

.search input[type=text] {
    padding: 10px;
    width: 250px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}

.search button {
    padding: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.social {
    background: #222;
    position: relative;
}

.social h3 {
    margin: 0;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.accordian {
    background: #333;
    width: 80%;
    display: block;
    list-style-type: none;
    overflow: hidden;
    height: 200px;
    font-size: 0;
    margin: 0 auto;
}

.tab {
    display: inline-block;
    background-color: #444;
    border-right: #333 1px solid;
    width: 80px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0;
    transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
    width: 450px;
}

/* First icon will left */

.tab:hover .social a:after {
    margin-left: -100px;
}

/* .tab:hover .social a:after {
    margin-left: -5px;
} */

footer {
    background: #707070;
    padding: 0.9em;
    text-align: center;
    color: #fff;
}