/* Notes
    If you want to make your element center, you have to
    add display flex on the parents
*/

@import url('https://fonts.googleapis.com/css?family=Mina');
@import url('https://fonts.googleapis.com/css?family=Mina|Nunito:400,800');


body {
    margin: 0;
    padding: 0;
    font-family: 'Mina', sans-serif;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 10px 80px;
    top: 0;
    box-sizing: border-box;
}

header.back {
    background: #000;
    height: 80px;
    padding: 10px 80px;
    opacity: 0.5;
    transition: .5s;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

header ul a {
    text-transform: uppercase;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: 700;
    color: #181818;
    transition: .3s;
}

header.back ul a {
    color: #fff;
}

section.img1 {
    width: 100%;
    height: 100vh;
    background: url('/img/img1.jpeg');
    background-size: cover;
    background-position: center;

    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centering {
    font-size: 70px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.mouse {
    margin-top: 50px;
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {opacity: 0;}
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

.content {
    margin-top: 30px;
}

.content h1 {
    text-align: center;
}

.content p {
    margin: 30px auto;
    text-align: justify;
    width: 70%;
    line-height: 40px;
}

#subscribe {
    background: #3e3e3e;
    color: #fff;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.updates {
    text-align: justify;
    line-height: 1.5em;
    width: 40%;
    margin-right: 50px;
}

.search input[type=text] {
    padding: 10px;
    width: 250px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}

.search button {
    padding: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

@font-face {
    font-family: 'Genericons';
    src: url("/genericons/genericons-regular-webfont.eot");
    src: url("/genericons/genericons-regular-webfont.woff") format("woff"), url("/genericons/genericons-regular-webfont.eot") format("truetype");
  }

.socials {
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socials h3 {
    margin: 0;
    color: #222;
    text-align: center;
    padding: 20px;
}

.accordian {
    background: #333;
    width: 80%;
    height: 200px;
    min-width: 800px;
    display: block;
    overflow: hidden;
    list-style-type: none;
    font-size: 0;
}

.tab {
    display: inline-block;
    background: #444;
    border-right: 1px solid #333;
    width: 80px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0;
    transition: all .5s ease-in-out .1s;
}

.tab:hover {
    width: 450px;
}

.tab .contents {
    background: #fff;
    width: 370px;
    height: 200px;
    margin-left: 80px;
    position: relative;
    padding: 15px 0 0 15px;
}

.tab .contents h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.tab .contents p {
    font-size: 0.85rem;
    line-height: 1.4rem;
    padding-right: 30px;
}


.social a:before,
.social a:after {
    transition: all .4s ease-in-out.1s;
    width: 85px;
    height: 200px;
    position: absolute;
    font: normal 30px Genericons;
    text-indent: 0;
    color: #fff;
    padding-top: 90px;
    padding-left: 25px;
}

.tab:hover .social a:before {
    margin-left: -100px;
}

.tab:hover .social a:after {
    margin-left: -1px;
}

.social a:after {
    font-size: 48px;
    padding-top: 80px;
    padding-left: 17px;
    margin-left: 80px;
}

/* Add Icon */
.youtube a:before,
.youtube a:after {
    content: '\f213'
}

.youtube a:after {
    background-color: #ff0000;
}

.twitter a:before,
.twitter a:after {
    content: '\f202'
}

.twitter a:after {
    background-color: #6dc5dd;
}

.facebook a:before,
.facebook a:after {
    content: '\f204'
}

.facebook a:after {
    background-color: #3b5998;
}

.linkedin a:before,
.linkedin a:after {
    content: '\f208'
}

.linkedin a:after {
    background-color: #00a9cd;
}

.instagram a:before,
.instagram a:after {
    content: '\f215'
}

.instagram a:after {
    background-color: #6dc993;
}

.github a:before,
.github a:after {
    content: '\f200'
}

.github a:after {
    background-color: #6e5494;
}

footer {
    background: #e6e6e6;
    padding: 2em;
    text-align: center;
    color: #333;
}